<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Currency exchange</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>

<h1> Сервис конвертации курсов валют</h1>

<div class="table-dark">
    <table>
        <thead>
        <tr>
            <th>Код валюты</th>
            <th colspan="2">Покупка</th>
            <th colspan="2">Продажа</th>
        </tr>
        <tr aria-colspan="2">

        </tr>
        <tr>
            <th></th>
            <th>Курс</th>
            <th>Банк</th>
            <th>Курс</th>
            <th>Банк</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${dates}">
            <td th:utext="${data.code}"/>
            <td th:utext="${data.currencyPurchase}"/>
            <td th:utext="${data.bankCurrencyPurchase}"/>
            <td th:utext="${data.saleOfCurrency}"/>
            <td th:utext="${data.bankSaleOfCurrency}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

