<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Currency exchange</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>

<h1> Сервис конвертации курсов валют</h1>

<div class="upload1">
    <form action="/index" enctype="multipart/form-data" method="POST">
        <p>
            Выберете файл для загрузки:
            </br>
        </p>
        <input name="file" type="file"/>
        <input type="submit" value="Upload"/>
    </form>
</div>

<div>
    <table align="center" class="sort table_blur">
        <thead>
        <tr>
            <td>Банк</td>
            <td>Код валют</td>
            <td>Покупка</td>
            <td>Продажа</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currency : ${currencies}">
            <td th:utext="${currency.bankName}"></td>
            <td th:utext="${currency.currencyCode}"/>
            <td th:utext="${currency.purchaseCurrency}"/>
            <td th:utext="${currency.saleOfCurrency}"/>
        </tr>
        </tbody>
    </table>
</div>

<a href="/get" id="bestCurr">Отобразить наилучшие курсы валют по банкам</a>

<script src="js/main.js" type="text/javascript"></script>

</body>
</html>






