<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Currency exchange</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/jquery.dataTables.min.css" rel="stylesheet"/>
</head>
<body>

<h1> Сервис конвертации курсов валют</h1>

<div class="upload1">
    <form action="/index" enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input name="file" type="file"/></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <table align="center" class="sort table_blur">
        <thead>
        <tr>
            <td>Банк</td>
            <td>Код валют</td>
            <td>Покупка</td>
            <td>Продажа</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>DG</td>
            <td>DRGFD</td>
            <td>463</td>
            <td>35</td>
        </tr>
        <tr th:each="currency : ${currencies}">
            <td th:utext="${currency.bankName}"></td>
            <td th:utext="${currency.currencyCode}"/>
            <td th:utext="${currency.purchaseCurrency}"/>
            <td th:utext="${currency.saleOfCurrency}"/>
        </tr>
        </tbody>
    </table>
</div>
<button type="button">Удалить выбранную строку</button>


<a href="/get">Наилучшие предложения по покупке и продаже всех валют</a>

<script src="js/main.js" type="text/javascript"></script>
<script src="js/jquery-3.3.1.js" type="text/javascript"></script>
<script src="js/jquery.dataTables.min.js" type="text/javascript"></script>

</body>
</html>






